name: Build and Push Docker Image

# Когда запускать?
on:
  push:
    branches: [ "main" ] # При любом пуше в ветку main
    paths:
      - 'app/**'         # И ТОЛЬКО если изменились файлы в папке app/

jobs:
  build:
    runs-on: ubuntu-latest # Робот берет виртуальную машину на Linux

    steps:
    # 1. Скачиваем твой код
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Логинимся в Docker Hub (используя секреты)
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Собираем и отправляем образ
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: ./app          # Где лежит Dockerfile (в папке app)
        push: true              # Отправлять в Docker Hub? Да.
        # Тэгируем двумя способами:
        # v1-{номер_билда} (чтобы была история)
        # latest (чтобы всегда брать свежее)
        tags: |
          saydo228/my-ai-service:v1-${{ github.run_number }}
          saydo228/my-ai-service:latest
